.viewProfileCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--surface-primary);
	inline-size: 100%;
	max-inline-size: 664px;
	padding: 28px 16px;
	border-radius: 12px;
	margin: auto;

	@media (min-width: 1440px) {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 32px;
		padding: 32px 26px 32px 48px;
	}
}

.editProfileCard {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	background-color: var(--surface-primary);
	inline-size: 100%;
	max-inline-size: 1127px;
	padding: 28px 16px;
	margin: 0 auto;
	border-radius: 12px;

	@media (min-width: 1440px) {
		padding: 48px 32px;
		align-items: stretch;
		gap: 0;
	}
}
