.viewProfileCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	inline-size: 100%;
	max-inline-size: 664px;
	margin: auto;

	@media (min-width: 1440px) {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 32px;
	}
}

.editProfileCard {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	inline-size: 100%;
	margin: 0 auto;
}
