.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.formError {
	min-height: var(--line-height-mobile-body-lg);
	color: var(--error-color);
	text-align: center;
	font-size: var(--font-size-mobile-body-lg);
	line-height: var(--line-height-mobile-body-lg);
}

.submit {
	width: 100%;
}

.loginHint {
	text-align: center;
}
