.header {
	container-type: inline-size;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	padding: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: var(--primary-light);
}

.brand {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 2px 0;
}

.brandTitle {
	font-family: var(--font-main);
	font-size: var(--font-size-mobile-body-lg);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-mobile-body-lg);
	color: var(--foreground-color);
}
