.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	background-color: var(--primary-light);
	color: var(--primary-color);
	inline-size: 44px;
	block-size: 44px;

	svg {
		inline-size: 24px;
		block-size: 24px;
	}
}

.achievementCard {
	display: flex;
	flex-direction: column;
	gap: 12px;
	inline-size: 248px;
	min-block-size: 186px;
	align-items: start;
	border-radius: 12px;
	padding: 20px;
	background-color: var(--surface-primary);
	color: var(--foreground-color);

	@media (min-width: 1440px) {
		inline-size: 316px;
		min-block-size: 240px;
		padding: 24px;
		gap: 16px;

		.icon {
			inline-size: 64px;
			block-size: 64px;

			svg {
				inline-size: 40px;
				block-size: 40px;
			}
		}
	}
}

.title {
	/* Визуально как h2, согласно макету */
	font-size: var(--font-size-mobile-heading-h2);
	line-height: var(--line-height-mobile-heading-h2);
	font-weight: var(--font-weight-semibold);
	margin: 0;
	color: var(--foreground-color);

	@media (min-width: 1440px) {
		font-size: var(--font-size-desktop-heading-h2);
		line-height: var(--line-height-desktop-heading-h2);
	}
}

.description {
	margin: 0;
	font-size: var(--font-size-mobile-body-md);
	line-height: var(--line-height-mobile-body-md);
	color: var(--foreground-color);

	@media (min-width: 1440px) {
		font-size: var(--font-size-desktop-body-lg);
		line-height: var(--line-height-desktop-body-lg);
	}
}
