.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.submit {
	width: 100%;
}

.backHint {
	text-align: center;
	margin-top: 24px;
	font-size: var(--font-size-mobile-body-lg);
	line-height: var(--line-height-mobile-body-lg);

	@media (min-width: 1440px) {
		font-size: var(--font-size-desktop-body-lg);
		line-height: var(--line-height-desktop-body-lg);
	}
}
