.profile {
	display: flex;
	gap: 4px;
	inline-size: 163px;
	min-block-size: 48px;
	align-items: center;
	background-color: transparent;
	@media (max-width: 1439px) {
		display: none;
	}
}

.name {
	font-size: var(--font-size-desktop-body-md);
	line-height: var(--line-height-desktop-body-md);
	font-weight: var(--font-weight-regular);
	color: currentColor;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
	flex: 1;
	@media (max-width: 1439px) {
		display: none;
	}
}
